body{
background-color: #DBDFFD;
}
  h1{
    color: #354259;
  }
  h3{
    color: #242F9B;
  }
hr{
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
  color: #242F9B;
}
/*******************Clases********************/
.round{
  border-radius: 100%;
}
